@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --lcd-nav: #ffffff;
  --lcd-footer: #fdfdfd;
  --lcd-panel: #f5f5f7;
  --lcd-frame: #ffffff;
  --lcd-border: #d6d6d6;
  --lcd-title: #3c3c43;
  --lcd-subtitle: #67676c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-lucide-black: #3c3c43;
  --color-lucide-red: #f56767;
  --color-lucide-gray: #67676c;
  --color-lucide-slate: #f6f6f7;

  --color-lucide-nav: var(--lcd-nav);
  --color-lucide-footer: var(--lcd-footer);
  --color-lucide-panel: var(--lcd-panel);
  --color-lucide-frame: var(--lcd-frame);
  --color-lucide-border: var(--lcd-border);
  --color-lucide-title: var(--lcd-title);
  --color-lucide-subtitle: var(--lcd-subtitle);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --lcd-nav: #202127;
    --lcd-footer: #202127;
    --lcd-panel: #202127;
    --lcd-frame: #1b1b1f;
    --lcd-border: #111111;
    --lcd-title: #ffffff;
    --lcd-subtitle: #98989f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
